{% extends 'base.html' %}

{% block app_content %}
  <div class="container">
    <div class="row justify-content-md-center">
    <div class="col-md-12 ">
      <h1>Our Story</h1>
      <div class="row">
        <div class="col-md-6 ">
      <p>
        Outreach Eco is a small family business based in Massachusetts USA.
        </p>
        <p>
        We focus in creating a better work and healthier life environment by producing blue light blocking glasses for the digital world we live in.​
        </p>
        <p>
        Our products are designed and created by specialists with a love for the environment and providing a better quality of life for you! So, you can be sure our products are perfect for anyone searching for better quality living and comfort.</p>

        <p>Outreach Eco is dedicated to fulfilling the following:
        </p>
        <ul>
          <li>An affordable and comfortable life solution for people</li>
          <li>Creation and design of fashionable eyeglasses for everyone</li>
          <li>Provide high performance and quality for our customers’ products</li>
          <li>The convenience of ordering eyeglasses online</li>
          <li>To provide excellent customer support</li>
        </ul>
        <p>We are dedicated to providing not only a safe shopping experience, but truly care about your quality of living and comfort!</p>

      </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
